#cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
}
body {
    display: flex;
}
form {
    width: 25%;
    position: fixed;
}
#element {
    width: auto;
    margin: 10px;
    
}
ul,li {
    list-style: none;
}