* {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(100, 50, 20, 0.1);
}
.fullview > img {
  height: 75vh;
  border-radius: 1%;
}
.fullview {
  text-align: center;
  overflow: hidden;
  height: 75vh;
  border-radius: 20%;
}
.preview {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0px;
  height: 20vh;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.image-gallery {
  position: relative;
  height: 100vh;
}

